.page {
    background: #f9f9f9;
    
  }
  .resultContent {
    height: calc(100vh - 76px);
  }
  .pageResult {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
  }
  @media screen and (max-width: 1000px) { 
    .pageResult {
      flex-direction: column;
      align-items: center;
    }
}