.repositories {
    max-width: 100%;
    padding-top: 28px;
    flex-grow: 1;
  }
  
  .pageTitle {
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 30px;
  }

  .repositoriesList {
    height: 67vh;
    overflow-y: auto;
  }
  .repositoriesList::-webkit-scrollbar {
  width: 0;
  }
  @media screen and (max-width: 1000px) {
    .pageTitle {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
      }
  }
